@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light theme */
:root {
  --primary-color: #1e90ff;
  --secondary-color: #ffd700;
  --background-color: #ffffff;
  --text-color: #000000;
}

/* Dark theme */
.dark {
  --primary-color: #374151;
  --secondary-color: #fbbf24;
  --background-color: #1f2937;
  --text-color: #ffffff;
}

/* Ocean theme */
.ocean {
  --primary-color: #0077b6;
  --secondary-color: #90e0ef;
  --background-color: #caf0f8;
  --text-color: #03045e;
}

/* Style scrollbars for all themes */
*::-webkit-scrollbar {
  width: 2px; /* Adjust width for desired size */
}

/* Style the scrollbar track (optional) */
*::-webkit-scrollbar-track {
  background: #f1f1f1; /* Adjust color as needed */
}

/* Style the scrollbar thumb (optional) */
*::-webkit-scrollbar-thumb {
  background-color: #999; /* Adjust color as needed */
  border-radius: 2px; /* Adjust roundness as needed */
}
